	.linux {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: #ed7802;
	border-radius: 15px;
	border: 3px solid White;
	transition-duration: 0.4s;
	box-shadow: 0px 5px;
	animation: bounceInTop;
	animation-duration: 1.75s;
	width: 90%;
	padding: 5px;
	}
/* Divider */
	html {
	height: 100%;
	}
	body {
	background: #00080f;
	padding: 15px;
	text-align: center;
	border: 5px solid white;
	border-radius: 20px;
	height: 100%;
	}
	#animation_holder {
	animation: slideInDown;
	animation-duration: 1s;
	border: 20px solid transparent;
	border-radius: 20px;
	padding: 20px;
	}
	#generic {
	text-align: center;
	background: #ed7802;
	border-radius: 15px;
	border: 3px solid White;
	padding: 5px;
	box-shadow: 0px 15px;
	animation: null;
	animation-duration: 1.75s;
	}
	#intro {
	color: #f6fef5;
	font-family: 'Roboto Black';
	font-size: 250%;
	font-weight: bold;
	text-align: center;
	background: null;
	animation: bounceIn;
	}
	#slogan {
	color: #ed7802;
	font-family: 'Roboto Black';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: null;
	}
	#projects {
	color: #f6fef5;
	font-family: 'Roboto Black';
	font-size: 350%;
	font-weight: bold;
	text-align: center;
	background: null;
	animation: tada;
	animation-duration: 1s;
	animation-delay: 2s;
	}

	#divider {
	color: transparent;
	font-family: 'Roboto Black';
	font-size: 75%;
	font-weight: bold;
	text-align: center;
	background: null
	}

	#topbar {
	color: #fc8003;
	font-family: 'Roboto Black';
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	background: #ed7802;
	padding: 10px;
	}

	#bottombar {
	color: #fc8003;
	font-family: 'Roboto Black';
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	background: #ed7802;
	}

	.buttonmain {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: #ed7802;
	border-radius: 15px;
	border: 3px solid White;
	transition-duration: 0.4s;
	box-shadow: 0px 5px;
	animation: bounceInLeft;
	animation-duration: 1.75s;
	}
	.buttonmain:hover {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: #001223;
	border-radius: 15px;
	border: 3px solid transparent;
	box-shadow: 0px 0px;
	}

	.buttonswitcher {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	background: #ed7802;
	border-radius: 15px;
	border: 3px solid white;
	transition-duration: 0.4s;
	box-shadow: 0px 2px;
	animation: bounceInLeft;
	animation-duration: 1.75s;
	}
	.buttonswitcher:hover {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	background: #001223;
	border-radius: 15px;
	border: 3px solid transparent;
	box-shadow: 0px 0px;
	}
