	body {
	background: #010e01;
	border: 5px solid white;
	border-radius: 20px;
	padding: 15px;
	text-align: center;
	}
	#animation_holder {
	animation: slideInDown;
	animation-duration: 1s;
	}
	#generic {
	text-align: center;
	background: #17361e;
	border-radius: 15px;
	border: 3px solid White;
	padding: 5px;
	box-shadow: 0px 15px;
	animation: null;
	animation-duration: 1.75s;
	}
	#intro {
	color: #f6fef5;
	font-family: 'Roboto Black';
	font-size: 250%;
	font-weight: bold;
	text-align: center;
	background: null;
	animation: bounceIn;
	}
	#slogan {
	color: #0ab259;
	font-family: 'Roboto Black';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: null;
	}
	#projects {
	color: #f6fef5;
	font-family: 'Roboto Black';
	font-size: 350%;
	font-weight: bold;
	text-align: center;
	background: null;
	animation: tada;
	animation-duration: 1s;
	animation-delay: 2s;
	}

	#divider {
	color: transparent;
	font-family: 'Roboto Black';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: null
	}

	#topbar {
	color: #f6fef5;
	font-family: 'Roboto Black';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: #17361e;
	}

	#bottombar {
	color: #f6fef5;
	font-family: 'Roboto Black';
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	background: #17361e;
	}

	.buttonmain {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	background: #26c035;
	border-radius: 15px;
	border: 3px solid White;
	transition-duration: 0.4s;
	box-shadow: 0px 5px;
	animation: bounceInRight;
	animation-duration: 1.75s;
	}
	.buttonmain:hover {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	background: #044341;
	border-radius: 15px;
	border: 3px solid transparent;
	box-shadow: 0px 0px;
	}

	.buttonswitcher {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: #26c035;
	border-radius: 15px;
	border: 3px solid white;
	transition-duration: 0.4s;
	box-shadow: 0px 2px;
	animation: bounceInRight;
	animation-duration: 1.75s;
	}
	.buttonswitcher:hover {
	color: #f6fef5;
	font-family: 'Roboto Medium';
	font-size: 200%;
	font-weight: bold;
	text-align: center;
	background: #044341;
	border-radius: 15px;
	border: 3px solid transparent;
	box-shadow: 0px 0px;
	}
