body {
    background-image: url("image/background.png");
    background-position: center;
    background-size: cover;
    padding: 10px;
    background-repeat: no-repeat;
}
.container{
    backdrop-filter: blur(20px);
    width: 100%;
    position: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); 
    height: calc(65vh); 
    border: 5px solid white;
}
.title{
    font-size: 800%;
    text-align: center;
    color: white;
    font-family: 'Protest Riot', sans-serif;
    font-style: bold;
}
.pmc{
    font-size: 180%;
    font-family: 'Roboto', sans-serif;
    height: 10%;
    width: 30%;
    background-color: #13255f; 
    color: white;
    transition-duration: 0.3s;
    border: 3px solid white;
}
.pmc:hover{
    background-color: #374e97;
    border: 5px solid rgb(13, 172, 39);
    color: rgb(79, 212, 101);
}
.curseforge{
    font-size: 180%;
    font-family: 'Roboto', sans-serif;
    height: 10%;
    width: 39.2%;
    background-color: #13255f; 
    color: white;
    transition-duration: 0.3s;
    border: 3px solid white;
}
.curseforge:hover{
    background-color: #0c0c0c;
    border: 5px solid rgb(196, 108, 7);
    color: rgb(231, 124, 52);
}
.modrinth{
    font-size: 180%;
    font-family: 'Roboto', sans-serif;
    height: 10%;
    width: 30%;
    background-color: #13255f; 
    color: white;
    transition-duration: 0.3s;
    border: 3px solid white;
}
.modrinth:hover{
    background-color: #19213a;
    border: 5px solid rgb(13, 204, 45);
    color: rgb(66, 212, 90);
}